# This file is a template, and might need editing before it works on your project.
variables:
  RELEASE: "4.2.6"
docker-build-release:
  # stable docker image.
  image: docker:dind
  stage: build
  #services:
  #  - docker:latest
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --build-arg RELEASE=$RELEASE --pull -t "$CI_REGISTRY_IMAGE" -t "$CI_REGISTRY_IMAGE:$RELEASE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE" .
    - docker push "$CI_REGISTRY_IMAGE"
    - docker push "$CI_REGISTRY_IMAGE:$RELEASE"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE"
  only:
    refs:
      - master
    changes:
      - Dockerfile
      - .gitlab-ci.yml

docker-build-git:
# git docker image.
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script: 
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" -t "$CI_REGISTRY_IMAGE:git" -t "$CI_DOCKERHUB_REGISTRY_IMAGE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:git" .
    - docker push "$CI_REGISTRY_IMAGE"
    - docker push "$CI_REGISTRY_IMAGE:git"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE"
    - docker push "$CI_DOCKERHUB_REGISTRY_IMAGE:git"
  only:
    refs:
      - master
    changes:
      - Dockerfile.git
