# This file is a template, and might need editing before it works on your project.
variables:
  RELEASE: ""
  DOCKERHOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

buildx-stable:
  # Official docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged registry.gitlab.com/dedyms/docker-binfmt-qemu:buster
  script:
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --build-arg RELEASE=$RELEASE --push --platform linux/arm64,linux/amd64 -t "$CI_REGISTRY_IMAGE:$RELEASE" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE" . -f Dockerfile
  only:
    variables:
      - $RELEASE != ""
    refs:
      - master
      - schedules
    changes:
      - Dockerfile

buildx-stable-ffmpeg:
  # Official docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged registry.gitlab.com/dedyms/docker-binfmt-qemu:buster
  script:
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --build-arg RELEASE=$RELEASE --push --platform linux/arm64,linux/amd64 -t "$CI_REGISTRY_IMAGE:$RELEASE-ffmpeg" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$RELEASE-ffmpeg" -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA-ffmpeg" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA-ffmpeg" . -f Dockerfile.ffmpeg
  only:
    variables:
      - $RELEASE != ""
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.ffmpeg

buildx-fpm-nginx:
# git docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script: 
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged registry.gitlab.com/dedyms/docker-binfmt-qemu:sid
  script:
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --pull --push --platform linux/arm64,linux/amd64 -t "$CI_REGISTRY_IMAGE:git-fpm-nginx" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:git-fpm-nginx" . -f Dockerfile.fpm-nginx
  only:
    variables:
      - ($SCHEDULE_TYPE == "daily" || $SCHEDULE_TYPE == "fpm-nginx")
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.fpm-nginx

buildx-fpm-apache:
# git docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script: 
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged registry.gitlab.com/dedyms/docker-binfmt-qemu:sid
  script:
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --pull --push --platform linux/arm64,linux/amd64 -t "$CI_REGISTRY_IMAGE:git-fpm-apache" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:git-fpm-apache" . -f Dockerfile.fpm-apache
  only:
    variables:
      - ($SCHEDULE_TYPE == "daily" || $SCHEDULE_TYPE == "fpm-apache")
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.fpm-apache

buildx-cache:
# git docker image.
  image: registry.gitlab.com/dedyms/docker-with-buildx:0.5.1
  stage: build
  services:
    - docker:dind
  before_script: 
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker login -u "$CI_DOCKERHUB_REGISTRY_USER" -p "$CI_DOCKERHUB_REGISTRY_PASSWORD" $CI_DOCKERHUB_REGISTRY
    - docker run --rm --privileged registry.gitlab.com/dedyms/docker-binfmt-qemu:sid
  script:
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --pull --push --platform linux/arm64,linux/amd64 -t "$CI_REGISTRY_IMAGE:build" -t "$CI_DOCKERHUB_REGISTRY_IMAGE:build" . -f Dockerfile.build
  only:
    variables:
      - $SCHEDULE_TYPE == "build"
    refs:
      - master
      - schedules
    changes:
      - Dockerfile.build
